<%= form_for(@workout, html: {class: 'form-horizontal'}) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
	<div class="controls">
    	<%= f.text_field :name %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :activity, class: 'control-label' %>
	<div class="controls">
    	<%= f.text_field :activity %>
	</div>
  </div>
  <div class="control-group">
    <%= f.label :minutes, class: 'control-label' %>
	<div class="controls">
    	<%= f.number_field :minutes %>
	</div>
  </div>
  <div class="control-group">
  	<%= f.label :user_id, class: 'control-label'%>
	<div class="controls">
		<%= f.collection_select :user_id, @users, :id, :name%>
		<%= link_to "Create New User", new_user_path, class: "btn btn-success"%>
	</div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
