<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workout.name %>
</p>

<p>
  <b>Activity:</b>
  <%= @workout.activity %>
</p>

<p>
  <b>Minutes:</b>
  <%= @workout.minutes %>
</p>

<p>
	<b>User:</b>
	<%= @workout.user_name%>
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
